.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 0px;
  background: #EFF5FF;
  outline: none;

  margin: 12px 12px 12px 24px;
  background-image: url("./../../../assets/AvatarM.svg");
  background-repeat: no-repeat;
  background-size: 30px 42px;
  background-position: 50% 50%;
}