.button {
  position: absolute;
  width: 233px;
  height: 56px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  background: #5C98F1;
  border-radius: 8px;
  border: 0px;
  color: #FFFFFF;

  &:hover {
    background: #4583DE;
  }

  &:active {
    background: #2C6AC7;
  }

  &.disabled {
    background: #D1D1D1;
  }
}


