
.message {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  color: #303030;

  max-width: 400px;

  text-align: center;
  border-radius: 12px;
  border: 1px solid #D7E6FF;
  margin: 26px;
  padding: 9px 13px;
  &.my_message {
    background-color: #cbf5ff;
    align-self: flex-end;
  }
  &.enemy_message {
    background: #FFFFFF;
    align-self: flex-start;
  }
}